<div id='cart-container'>
  <span class='individual-item'>
    <p>Quantity</p>
    <h4>Black and Blue Burger</h4>
    <p>Price</p>
    <form action="POST" action="/api/users/delete">
      <button type='submit'><i class="far fa-trash-alt"></i></button>
    </form>
  </span>
  <hr>
  <span class='total-price'>Total price: $00.00</span>
</div>

<form action="POST" action="/api/users/add" class='checkout'>
  <button id='checkout' type='submit'>
    checkout
  </button>
</form>
