<nav>

  <a href="#" class="menu">
    <i class="fas fa-book-open"></i>
  </a>

  <a href="#" class="orders">
    <i class="far fa-list-alt"></i>
  </a>

  <a href="#" class="shopping-cart">
    <i class="fas fa-shopping-cart"></i>
  </a>

  <a href="#" class="notification">
    <i class="fas fa-envelope"></i>
  </a>

</nav>
