<div id="orders-container">
  <table>
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Order Placed</th>
    </thead>

    <tbody>
      <td>(date from DB)</td>
      <td>(date from DB)</td>
      <td>(date from DB)</td>
      <td>(date from DB)</td>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="/scripts/counter.js"></script>
