<div id="products">
  <div class="product-card">
    <img src="./images/pizza.jpeg" alt="pizza">
    <span>
      <div>
        <h3>Pizza</h3>
        <p>This pizza is delicious!</p>
      </div>
      <p id="price">$0.00</p>
    </span>
    <hr>
    <p>The term pizza was first recorded in the 10th century in a Latin manuscript from the Southern Italian town of
      Gaeta in Lazio, on the border with Campania.Modern pizza was invented in Naples, and the dish and its variants
      have since become popular in many countries.[5] It has become one of the most popular foods in the world and a
      common fast food item in Europe and North America, available at pizzerias (restaurants specializing in pizza),
      restaurants offering Mediterranean cuisine, and via pizza delivery. Many companies sell ready-baked frozen pizzas
      to be reheated in an ordinary home oven.</p>

  </div>

</div>
