<div id="products">
  <div class="product-card">
    <img src="./images/pizza.jpeg" alt="pizza">
    <span>
      <div>
        <h3>Pizza</h3>
        <p>This pizza is delicious!</p>
      </div>
      <p id="price">$0.00</p>
    </span>
  </div>

  <div class="product-card">
    <img src="./images/pizza.jpeg" alt="pizza">
    <span>
      <div>
        <h3>Pizza</h3>
        <p>This pizza is delicious!</p>
      </div>
      <p id="price">$0.00</p>
    </span>
  </div>

</div>
