<section id="food-type">
  <div>
    <i class="fas fa-hamburger fa-2x"></i>
    <h4>BURGER</h4>
  </div>

  <div>
    <i class="fas fa-pizza-slice fa-2x"></i>
    <h4>PIZZA</h4>
  </div>

  <div>
    <i class="fas fa-drumstick-bite fa-2x"></i>
    <h4>WINGS</h4>
  </div>

  <div>
    <i class="fas fa-cocktail fa-2x"></i>
    <h4>DRINKS</h4>
  </div>

  <div>
    <i class="fas fa-ice-cream fa-2x"></i>
    <h4>DESSERT</h4>
  </div>
</section>
