@import './variables';

#food-type {
  @include displayFlex(space-between, center, row);
  flex-wrap: nowrap;
  margin: 0 1rem;
  margin-bottom: 1rem;

  div {
    @include displayFlex(space-between, center, column);
    width: 65px;
    background-color: $lightGreen;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: $darkGray;

    h4 {
      padding-top: 0.5rem;
      font-size: 90%;
      font-weight: 200;
    }

    &:hover {
      color: $brown;
    }
  }



}
