@import './variables';

#product {
  @include displayFlex(center, center, row);
  width:100%;

  .product-view {
    align-self: center;
    width: 90%;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width:90%;
    height:80%;
    background-color: $white;

    img {
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
      object-position: center center;
      padding: 0;
      display: block;
      // margin: 0 auto;
      max-height: 100%;
      max-width:100%;
      margin-bottom: 1rem;
    }

    hr {
      margin: 0.5rem 1rem;
      border: 0;
      height: 0;
      border-top: 1px solid $gold;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    span {
      div {
        margin: 0 1rem;
      }
    }

    p {
      margin: 0.5rem 1rem;
    }

    button {
      width: 35%;
      border: none;
      border-radius: 0.5rem;
      bottom: 0;
      background-color: $lightGreen;
      color: $white;
      align-self: flex-end;
      margin-top: 2rem;
      margin: 1rem;
      font-size: 120%;
    }
    .return-to-menu {
      float: right;
      width: 20%;
    }
  }
}

