* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import './variables';
@import './header';
@import './nav';
@import './products';
@import './food-type';
@import './orders';
@import './cart';
@import './vendor';
@import './main';

html {
  font-size: 93.75%; /* 15px */
}

body {
  background-color: $lightYellow;
  color: $brown;
}


